header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  max-height: 300px; /* Valor suficiente para cobrir os links */
  opacity: 1;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.3s ease-in-out;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px o;
}

.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}
